<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gourmet</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
</head>

<body>
  <div>
    <header>
      <h1>
      Welcome to Gourmet!
      </h1>
      <p><a href="/">Home</a></p>
      {{#if loggedIn}}
      <p><a href='/myRecipes'>My Recipes</a></p>
      <a href="/" id="logout">Logout</a>
      {{else}}
      <p><a href="/login">User Login</a><p>
      {{/if}}
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>


  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
