
  <div class="field">
    <label class="label">Ingredients</label>
    <p>Type each individual ingredient and seperate them by pressing enter.</p>
    <div class="control">
      <textarea id='ingredients' class="textarea" placeholder="Text here"></textarea>
    </div>
  </div>

<div>
    <button class="ingredientButton">Submit Ingredients</button>
  </div>

  <script src="/js/editIngredient.js"></script>
