<div class="field">
    <label class="label">Instructions</label>
    <p>Type each step for instructions and seperate them by pressing enter.</p>
    <div class="control">
      <textarea id='instructions' class="textarea" placeholder="Text here"></textarea>
    </div>
  </div>


  <div>
    <button class="instructionsButton">Submit Instructions</button>
  </div>

<script src="/js/editInstruction.js"></script>
