<section class="section is-medium"></section>
<div class="column is-half is-offset-one-quarter m-auto">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Log in
      </p>
    </header>
    <div class="card-content">
      <form class="signup-form">
        <div class="content is-vcentered">
          <label for="username">Username:</label>
          <input type="text" id="username_login" />
        </div>
        <div class="content">
          <label for="password">Password:</label>
          <input type="password" id="password_login" />
        </div>
        <div>
          <button class="button is-info" type='submit' id="submit_login">login</button>
          <p>or <a href="/signup">sign up</a> instead</p>
        </div>
      </form>
    </div>
  </div>
</div>
<section class="section is-large"></section>

<script src="/js/login.js"></script>