My Recipes
<p><a href="/recipeInput">Input your own recipe</a></p>
{{#each recipes as |recipe|}}

<p><a href="/recipe/{{recipe.recipe_name}}">{{recipe.recipe_name}}</a></p>

<a href="#" data-id="{{recipe.id}}" class="delete">Delete</a>

{{/each}}

<script src="/js/delete.js"></script>
