My Recipes

{{#each recipes as |recipe|}}

<p><a href="/recipe/{{recipe.id}}">{{recipe.recipe_name}}</a></p>
    <a href="#" data-id="{{recipe.id}}" class="delete">Delete</a>

{{/each}}

<script src="/js/delete.js"></script>

