<section class="section"></section>
<div class="column is-half is is-offset-one-quarter" id="main-card">
  <div class="card" >
    <header class="card-header">
      <p class="card-header-title">
        Create your own recipe
      </p>
    </header>
    <div class="card-content is-vcentered">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input id='recipe_title' class="input" type="text" placeholder="Text input">
        </div>
      </div>
      <div class="field">
        <label class="label">Cook time</label>
        <div class="control">
          <input id='recipe_time' class="input" type="text" placeholder="Cook time">
        </div>
      </div>
      <div class="field">
        <label class="label">Photo</label>
        <div class="control">
          <input id="recipe_url" class="input" type="text" placeholder="Paste URL">
        </div>
      </div>
      <div class="field">
        <label class="label">Ingredients</label>
        <p>Type each individual ingredient and seperate them by pressing enter.</p>
        <div class="control">
          <textarea id='ingredients' class="textarea" placeholder="Ingredients"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Instructions</label>
        <p>Type each step for instructions and seperate them by pressing enter.</p>
        <div class="control">
          <textarea id='instructions' class="textarea" placeholder="Instructions"></textarea>
        </div>
      </div>
      <div>
        <button class="button is-info" id="button">Submit Recipe</button>
      </div>
    </div>
  </div>
</div>
<section class="section is-large"></section>

<script src="/js/recipeInput.js"></script>
