<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input id='recipe_title' class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Photo</label>
  <div class="control">
    <input class="input" type="text" placeholder="Paste URL">
  </div>
</div>

<div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="resume">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>

<div class="field">
  <label class="label">Ingredients</label>
  <p>Type each individual ingredient and seperate them by pressing enter.</p>
  <div class="control">
    <textarea id='ingredients' class="textarea" placeholder="Text here"></textarea>
  </div>
</div>

<div class="field">
  <label class="label">Instructions</label>
  <p>Type each step for instructions and seperate them by pressing enter.</p>
  <div class="control">
    <textarea id='instructions' class="textarea" placeholder="Text here"></textarea>
  </div>
</div>
<div>
  <button class="button">Submit Recipe</button>
</div>

<script src="/js/recipeInput.js"></script>