<section class="section is-medium"></section>
<div class="column is-half is-offset-one-quarter m-auto">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Sign up
      </p>
    </header>
    <div class="card-content">
      <form class="signup-form">
        <div class="content is-vcentered">
          <label for="username">Username:</label>
          <input type="text" id="username" />
        </div>
        <div class="content">
          <label for="password">Password:</label>
          <input type="password" id="password" />
        </div>
        <div>
          <button class="button is-info" type='submit'>signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<section class="section is-large"></section>

<script src="/js/signup.js"></script>