#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  #card {
    width: 30%;
    background-color: #F4EFE9;
    object-fit: cover;
  }

  #card-header-title {
    display: flex;
    justify-content: space-between;
  }

  #main-card {
    margin: auto;
  }
