#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    width: 90%;
    margin: auto;
    margin-top: 35px;
  }

  #card {
    width: 30%;
    background-color: #F4EFE9;
    object-fit: cover;
  }

  #card-header-title {
    display: flex;
    justify-content: space-between;
  }

  #main-card {
    margin: auto;
  }

  #recipe_input {
    text-align: center;
    font-size: 20px;
  }

  .image {
    object-fit: contain;
    width: 100%;
    height: 200px;

  }
